body {
  font-family: 'Poppins', sans-serif;
}
header {
  background: #f0fff0;
  height: 576px;
}
header .navbar-brand img {
  width: 198px;
}
header .left .content {
  width: 350px;
}
header .left p:first-child {
  color: #fd511a;
  font-size: 16px;
  margin: 0;
}
header .left .content h1 {
  font-weight: 700;
  line-height: 70px;
  color: black;
}
header .left .content h1::after {
  content: ' any schedule';
  color: #21b573;
}
header .left p {
  color: #6c6b6b;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 36px;
}
.my-btn {
  background-color: #21b573;
  color: white;
  font-size: 15px;
  font-weight: 300;
  border-radius: 100px;
  padding: 12px 36px;
  font-style: normal;
}

/* //Portfolio Section Style */
.portfolio {
  margin: 42px 0 42px 0;
}
.portfolio .portfolio-bg {
  background-color: #f8fffb;
  /* border: 1px solid gray; */
  /* width: 270px; */
  height: 270px;
  border-radius: 30px;
  box-sizing: border-box;
  border: 15px solid transparent;
  background-clip: padding-box;
}
.portfolio .portfolio-bg:hover {
  background-color: white;
  box-shadow: 1px 1px 15px lightgray;
}
.portfolio .portfolio-bg img {
  width: 66px;
  margin-bottom: 22px;
}
.courses .course-bg {
  height: 483px;
  padding: 0px;
}
.courses .course-content {
  background-color: white;
  box-shadow: 1px 1px 15px whitesmoke;
}
.courses .course-bg .course-details img {
  width: 18px;
  height: 20px;
}

/* Testimonial Section Style */
